<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://nmaximiliano-001-site3.ctempurl.com:8172/MsDeploy.axd?site=nmaximiliano-001-site3</MSDeployServiceURL>
    <DeployIisAppPath>nmaximiliano-001-site3</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\nmaximiliano-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5023.Smarterasp.net;Initial Catalog=DB_A06236_turnosMedic;Persist Security Info=True;User ID=DB_A06236_turnosMedic_admin;Password=Admin1234;Application Name=EntityFramework" Name="Data Source=SQL5023.Smarterasp.net;Initial Catalog=DB_A06236_turnosMedic;Persist Security Info=True;User ID=DB_A06236_turnosMedic_admin;Password=Admin1234;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MedicinaRegenerativa.Models.ApplicationDbContext, MedicinaRegenerativa" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DB_A06236_turnosMedicEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=SQL5023.Smarterasp.net;Initial Catalog=DB_A06236_turnosMedic;Persist Security Info=True;User ID=DB_A06236_turnosMedic_admin;Password=Admin1234;Application Name=EntityFramework" Name="Data Source=SQL5023.Smarterasp.net;Initial Catalog=DB_A06236_turnosMedic;Persist Security Info=True;User ID=DB_A06236_turnosMedic_admin;Password=Admin1234;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MedicinaRegenerativa.Models.DB_A06236_turnosMedicEntities, MedicinaRegenerativa" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DB_A06236_turnosMedicEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ModeloTurnos.csdl|res://*/Models.ModeloTurnos.ssdl|res://*/Models.ModeloTurnos.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SQL5023.Smarterasp.net;Initial Catalog=DB_A06236_turnosMedic;Persist Security Info=True;User ID=DB_A06236_turnosMedic_admin;Password=Admin1234;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=SQL5023.Smarterasp.net;Initial Catalog=DB_A06236_turnosMedic;Persist Security Info=True;User ID=DB_A06236_turnosMedic_admin;Password=Admin1234;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>