@{
    ViewBag.Title = "Pagina de Inicio";
}

<div class="jumbotron">
    <h1>Consultorios MCM</h1>
    <p class="lead">Esta es la aplicacion para guardar y tener un control de los turnos solicitados por el paciente. Bueno amigos aca esta es la primera version del sistemita de reserva de turnos. Por el momento es para usarlo ustedes y despues lo vamos
            a abrir a todos los usuarios. Empecemos a utilizarla y vamos avanzando para hacerla bien a su gusto y necesidad. Es lo que se me fue ocurriendo para que tengan ya algo hecho. </p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Registro y Login de Usuario</h2>
        <p>
            
            Para empezar a utilizar la aplicación debes registrarte y loguearte. Luego de eso podrás visualizar las secciones
            de pacientes y turnos
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Alta Baja y Modificacion de Pacientes</h2>
        <p>La aplicación cuenta con un alta de pacientes. Donde puedes ingresar sus datos personales tales como telefono, fecha de nacimiento,
        direccion, mail etc. Recorda antes de solicitar un turno tienes que tener dado de alta el paciente</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Alta Baja y Modificacion de Turnos</h2>
        <p>Puedes dar de alta los turnos. Donde podrás ingresar la fecha, hora, la cantidad de horas que tomara aproximadamente el turno. El tipo de turno o tratamiento(Tambien cuenta con su Alta baja y modificacion para que crees tantos tipos de tratamientos como desees).
        Ý por ultimo deberas asignar un paciente que este asociado a este turno</p>
        <p>
            Cada turno que tomes tiene su busqueda por fecha para saber cual es la disponibilidad en dias de esos turnos.
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>